In [5]:
#the more stops per minute ranks top. the less stops per mile ranks top
import pandas as pd
import numpy as np
df=pd.read_csv('driver (1).csv')

In [6]:
#Here I'm checking no. of rows . 
#They are 20 in this case (Consider the nan value too as it is just for reindexing purpose)
df

,Drivers,Stops,Total Time,Total Distance,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,D1,50.0,50.5,7.7,NaN,NaN,NaN
1,D2,50.0,51.4,7.9,NaN,NaN,NaN
2,D3,50.0,53.8,7.2,NaN,NaN,NaN
3,D4,50.0,55.6,8.7,NaN,NaN,NaN
4,D5,50.0,59.5,8.5,NaN,NaN,NaN
5,D6,50.0,58.4,9.1,NaN,NaN,NaN
6,D7,50.0,61.8,9.4,NaN,NaN,NaN
7,D8,50.0,65.8,10.9,NaN,NaN,NaN
8,D9,50.0,70.4,5.0,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This algorithm is designed to find the rankings of drivers considering three features.
1.No. of Stops
2.Time Taken
3.Distance Travelled

In [7]:
df.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6'],axis=1,inplace=True)

In [8]:
df['Stops/Minute']=df['Stops']/df['Total Time']
df['Stops/Mile']=df['Stops']/df['Total Distance']

In [9]:
#Scaling the feature
a_max=max(df['Stops/Minute'].values)
a_min=min(df['Stops/Minute'].values)
b_max=max(df['Stops/Mile'].values)
b_min=min(df['Stops/Mile'].values)

In [10]:
df['A']=(df['Stops/Minute']-a_min)/(a_max-a_min)

In [11]:
df['B']=(b_max-df['Stops/Mile'])/(b_max-b_min)

In [12]:
df['C']=df['A']+df['B']

In [13]:
df=df.sort_values(['C'],ascending=False)

In [15]:
df.index = pd.RangeIndex(start=0, stop=19, step=1)

In [16]:
df

,Drivers,Stops,Total Time,Total Distance,Stops/Minute,Stops/Mile,A,B,C
0,D1,50.0,50.5,7.7,0.990099,6.493506,1.000000,0.647810,1.647810
1,D2,50.0,51.4,7.9,0.972763,6.329114,0.938056,0.678181,1.616237
2,D4,50.0,55.6,8.7,0.899281,5.747126,0.675500,0.785700,1.461200
3,D6,50.0,58.4,9.1,0.856164,5.494505,0.521443,0.832371,1.353814
4,D3,50.0,53.8,7.2,0.929368,6.944444,0.783004,0.564501,1.347505
5,D5,50.0,59.5,8.5,0.840336,5.882353,0.464887,0.760718,1.225605
6,D7,50.0,61.8,9.4,0.809061,5.319149,0.353141,0.864767,1.217909
7,D8,50.0,65.8,10.9,0.759878,4.587156,0.177407,1.000000,1.177407
8,D9,50.0,70.4,5.0,0.710227,10.000000,0.000000,0.000000,0.000000
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN